.root {
  max-width: 345;
  color: white !important;
 cursor: pointer;
}
.media {
  height: 100%;
  width: 100%;
}
.pos {
  margin-bottom: 12;
  color: white !important;
}

#experience {
  background-color: rgb(46, 47, 52);
  background-image: linear-gradient(
    135deg,
    rgb(241, 56, 56),
    rgb(85, 46, 228)
  );
  color: #fff;
  height: 100%;
  border-top: 0;
  padding-bottom: 5%;
}

section {
  padding: 5rem 0;
}
.root:hover{
  transform: scale(1.05);
}
/* rgb(221, 141, 141),
rgb(193, 223, 26) */
