* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background: lightslategrey;
  /* background: #969995; */
  /* font: 12px normal Arial; */
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: #fff;
}
h2 {
  font-size: 2.7em;
  font-weight: normal;
  padding: 10px 0 16px 0;
  margin: 0 0 30px;
  text-align: center;
  color: #5d6161;
  /* text-shadow: 1px 1px 5px #000, 0 0 10px #2187e7, 0 0 20px #2187e7;
  background: #000; */
  border-radius: 2px;
  /* border: 1px solid #2187e7; */
  box-shadow: 0px 0px 50px -8px #5d6161;
}
h2.plataformas {
  border: 1px solid #9acd32;
  box-shadow: 0px 0px 50px -8px #9acd32;
  color: #9acd32;
  text-shadow: 1px 1px 5px #000, 0 0 10px #9acd32, 0 0 20px #9acd32;
}

h2.programas {
  border: 1px solid #ec0aa1;
  box-shadow: 0px 0px 50px -8px #ec0aa1;
  color: #ec0aa1;
  text-shadow: 1px 1px 5px #000, 0 0 10px #ec0aa1, 0 0 20px #ec0aa1;
}

.skills {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.skills-bar {
  padding: 25px 30px;
}

.skills-bar .bar {
  margin: 25px 0;
}

.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 500;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
  color: #07374a;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 1000px;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  position: absolute;
  /* background: #25b79f; */
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  text-transfrom : uppercase;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line .html {
  width: 90%;
  background-color: lightgreen;
}
.progress-line .css {
  width: 90%;
  background-color: lightsalmon;
}
.progress-line .mongo {
  width: 90%;
  background-color: lightblue;
}
.progress-line .javascript {
  width: 90%;
  background-color: lightseagreen;
}
.progress-line .node {
  width: 90%;
  background-color: burlywood;
}
.progress-line .c {
  width: 90%;
  background-color: #ec0aa1;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -14px;
  width: 0;
  border: 10px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #07374a;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: 700;
  background: #07374a;
  padding: 1px 8px;
  border-radius: 3px;
}


.progress-line .html::after {
  content: "90%";
}
.progress-line .css::after {
  content: "90%";
}
.progress-line .mongo::after {
  content: "90%";
}
.progress-line .javascript::after {
  content: "90%";
}
.progress-line .node::after {
  content: "90%";
}
.progress-line .c::after {
  content: "90%";
}

/* ////........Media Query........//// */

@media (max-width: 700px) {
    .skills{
        width: 80%;
    }

    .skills-bar .bar .progress-line{
        width: 100%;
    }
}      


/* .row {
  font-size: large;
}

.container-skill {
  width: 90%;
  padding: 5%;
  margin: 0 auto;
  overflow: hidden;
}

.col {
  width: 23%;
  margin: 0 5%;
  position: relative;
  float: left;
  font-size: 12px;
  line-height: 2em;
  padding: 5% 0;
}

.skill {
  list-style: none;
  padding-top: 30px;
  font-size: larger;
}

.skill li {
  margin-bottom: 70px;
  background: #030303;
  height: 6px;
  border-radius: 3px;
  border-left: 1px solid #111;
  border-top: 1px solid #111;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}

.skill li em {
  position: relative;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  color: #dedede;
  top: -28px;
}

.blueline html {
  font-weight: 100px;
  font-size: larger;
}

.blueline {
  height: 3px;
  margin: 2px 0;
  background: #2187e7;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.6);
}
.greenline {
  height: 3px;
  margin: 2px 0;
  background: #9acd32;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(173, 255, 47, 0.4);
}
.redline {
  height: 3px;
  margin: 2px 0;
  background: #ec0aa1;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(255, 69, 0, 0.4);
}

.titulo {
  opacity: 1;
  animation: titulo 5s ease-out;
}


.html {
  width: 85%;
  animation: html 2s ease-out;
}
.css {
  width: 85%;
  animation: css 2s ease-out;
}
.php {
  width: 85%;
  animation: php 2s ease-out;
}
.javascript {
  width: 85%;
  animation: javascript 2s ease-out;
}
.jquery {
  width: 80%;
  animation: jquery 2s ease-out;
}


.wordpress {
  width: 80%;
  animation: wordpress 2s ease-out;
}
.prestashop {
  width: 85%;
  animation: prestashop 2s ease-out;
}
.joomla {
  width: 80%;
  animation: joomla 2s ease-out;
}
.blogger {
  width: 70%;
  animation: blogger 2s ease-out;
}
.tridion {
  width: 60%;
  animation: tridion 2s ease-out;
}


.dreamweaver {
  width: 85%;
  animation: dreamweaver 2s ease-out;
}
.illustrator {
  width: 85%;
  animation: illustrator 2s ease-out;
}
.photoshop {
  width: 85%;
  animation: photoshop 2s ease-out;
}
.premiere {
  width: 85%;
  animation: premiere 2s ease-out;
}
.flash {
  width: 85%;
  animation: flash 2s ease-out;
}

@keyframes titulo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes html {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@keyframes css {
  0% {
    width: 0px;
  }
  100% {
    width: 95%;
  }
}
@keyframes php {
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}
@keyframes javascript {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@keyframes jquery {
  0% {
    width: 0px;
  }
  100% {
    width: 30%;
  }
}


@keyframes wordpress {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}
@keyframes prestashop {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}
@keyframes joomla {
  0% {
    width: 0px;
  }
  100% {
    width: 40%;
  }
}
@keyframes blogger {
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}
@keyframes tridion {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}

@keyframes dreamweaver {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@keyframes illustrator {
  0% {
    width: 0px;
  }
  100% {
    width: 30%;
  }
}
@keyframes photoshop {
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}
@keyframes premiere {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}
@keyframes flash {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}


@media (max-width: 1200px) {
  h2 {
    font-size: 2.2em;
  }
}
@media (max-width: 980px) {
  h2 {
    font-size: 1.8em;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 1.4em;
  }
}
@media (max-width: 580px) {
  h2 {
    font-size: 1.1em;
    padding: 10px 0;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 2.2em;
    padding: 10px 0 15px 0;
  }
  .col {
    width: 90%;
  }
}

.progress-5 {
  width: 80px;
  height: 40px;
  border: 2px solid currentColor;
  border-right-color: transparent;
  margin-left: 630px;
  padding: 3px;
  background: repeating-linear-gradient(
      90deg,
      currentColor 0 10px,
      rgba(63, 248, 7, 0) 0 15px
    )
    0/0% no-repeat content-box content-box;
  position: relative;
  animation: p4 2s infinite steps(6);
}
.progress-5::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: 100%;
  width: 10px;
  background: linear-gradient(
        rgba(7, 230, 55, 0) calc(50% - 7px),
        currentColor 0 calc(50% - 5px),
        #0000 0 calc(50% + 5px),
        currentColor 0 calc(50% + 7px),
        #0000 0
      )
      left / 100% 100%,
    linear-gradient(
        currentColor calc(50% - 5px),
        #0000 0 calc(50% + 5px),
        currentColor 0
      )
      left / 2px 100%,
    linear-gradient(
        #0000 calc(50% - 5px),
        currentColor 0 calc(50% + 5px),
        #0000 0
      )
      right/2px 100%;
  background-repeat: no-repeat;
}
@keyframes p5 {
  100% {
    background-size: 120%;
  }
} */

/* .skill-tile p {
  font-size: 20px;
  margin-top: 10px;
}

.skill-tile:hover {
  transform: scale(1.05);
}
.container {
  align-items: center;
  justify-content: center;
}

#skills {
  background-color: rgb(46, 47, 52);
  background-image: linear-gradient(135deg, rgb(252, 148, 30), rgb(17, 200, 233));
  color: #fff;
  height: 100%;
  border-top: 0;
  padding-bottom: 5%;
}

section {
  padding: 5rem 0;
}  */

